@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-color: #373f51;
}

header {
    display: table;
    height: 60px;
    width: 100%;
    background-color: #58a4b0;
    
}
footer {
    height: 60px;
    width: 100%;
    background-color: #58a4b0;
    position: fixed;
    right: 0%;
    bottom: 0%;
}
.buttons {
 display: table-cell;
 float: right;

}
.knestoresensei h1 {
    font-size: 50px;
    color: #d8dbe2;
    margin:auto;
    text-align: center;
}
.github {
    border-radius: 6px;
    background-color: #daa49a;
    
    text-decoration: none;
    
}
.steam {
    border-radius: 6px;
    background-color: #daa49a;
    
    text-decoration: none;
}
.sumka {
    display: flex;
    margin-top: 15%;
    margin: auto;
    padding: 50px;
}
.baner3 {
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #d8dbe2;
    flex: 1;
    transition: .3s all ease;
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    background-image: url(images/telegramlogo.png);
    background-size: cover;
}
.baner1:hover {
    flex: 1.5;
    background-color: #a9bcd0;
}
.baner2:hover {
    flex: 1.5;
    background-color: #a9bcd0;
}
.baner3:hover {
    flex: 1.5;
    background-color: #a9bcd0;
}
.anekititle {
    font-style:italic;
    font-size: large;
    padding: 30px;
    color: #58a4b0;
}
.gap {
    color: #d8dbe2; /* Красный цвет символов */ 
    font-size: 200%; /* Размер шрифта в процентах */ 
    position: relative; /* Относительное позиционирование */ 
    top: 5px; /* Сдвиг сверху */ 
}
.sumkan {
    display: flex;
}
.anekdot {
    margin-left: 20px;
    margin-right: 20px;
    color: #d8dbe2;
    border-radius: 20px;
    background-color: #58a4b0;
    flex: 1;
    text-align: left;
    padding: 30px;
    font-size: 25px;
}
.anekdot:hover {
    background-color: #4a8a94;
    transition: .3s all ease
}

footer a {
    color: #d8dbe2;
    font-weight:bolder;
    font-size: 30px;
    display: flex;
    padding: 5px;
    margin: auto;
}
.Copyright {
    color: #d8dbe2;
    font-weight:bolder;
    font-size: 30px;
    padding-top: 10px;
    text-align: center;

}
.git {
    text-decoration: none;
    color: #d8dbe2;
}
.stea {
    text-decoration: none;
    color: #d8dbe2;
}
.baner1 {
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #d8dbe2;
    flex: 1;
    transition: .3s all ease;
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    background-image: url(images/githublogo.png);
    background-size: cover;

}
.baner2 {
    border-radius: 20px;
    margin-left: 10px;
    height: 200px;
    background-color: #d8dbe2;
    flex: 1;
    transition: .3s all ease;
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    background-image: url(images/steamlogo.png);
    background-size: cover;
}
.tel {
    text-decoration: none;
    color: #d8dbe2;

}
